# Python & libraries


Most of the state of the art ML stacks are python-based. There are several reasons for that but the most important is the high expressiveness of the language and the package availability.

## Build-in functions
Python by default has a number of build-in functions: ```python print, max, type, isinstance```

In [1]:
#print values
print("test")

test

In [2]:
#data type
type("test")

str

In [3]:
max( 3,4,5,1)

5

In [8]:
isinstance( 5, str), isinstance( 5, int)

(False, True)

## Basic Data types

In [9]:
i  =1 
type(i)

int

In [16]:
d = 0.3
type(d)

float

In [17]:
text = "this is a string"
type(text)

str

## Basic Data Structures

In [19]:
l = [1, 2, 3, 4 ]
type(l)

list

In [10]:
# lists are mutable objects

A = [1,2,3,4,5]
print(A)

A[2] = 0 
print(A)

[1, 2, 3, 4, 5]
[1, 2, 0, 4, 5]

In [4]:
d = { "a": 1, 
      "b": 2,
    }
type(d)

d.get("C")

In [14]:
a = {1, 2}
type(a) 
1 in a, 3 in a

(True, False)

## importing packages

In [23]:
import math
print( math.sqrt(10))

3.1622776601683795

The python ecosystem is super rich: We can find libraries for pretty much anything we like.
Typically, the Data Science set consists of a set of wildly adopted libraries for data processing, linear algebra, scientific computing etc.

In [27]:
import numpy as np
nums = np.random.randn( 10,10 )
nums

array([[ 1.06961965, -0.01718427, -0.31092343, -0.25623881, -0.16897694,
         0.38263021, -0.54922722,  0.16550105, -0.5555095 , -1.32079901],
       [ 0.82652078, -0.66949556, -0.91897743,  1.64098086, -0.67009731,
        -0.89543717, -0.7810434 ,  1.19158959,  1.32941825, -1.69378422],
       [ 1.66409208,  0.82858088, -0.72284334, -3.03137515, -0.72785845,
        -1.92513859, -0.40429778, -2.48304637,  1.57185654,  0.63986022],
       [ 0.86703596, -0.25284487, -0.83240088,  1.98792819,  0.40177488,
         0.2709155 , -0.43810125,  1.9159267 , -0.03900944, -0.54842681],
       [ 0.00495438,  0.40650785,  0.33682255,  0.22093528,  1.95971636,
         0.19618212, -0.43602122,  1.13467653,  1.53770081,  1.44022592],
       [-0.78506845, -0.04177141,  0.53483787,  1.43017555, -0.31305419,
        -1.27595963, -1.12651079, -0.46874791, -1.08536199,  0.72346403],
       [-0.27987282,  0.24706891, -0.40950309, -1.52316642, -1.60114369,
         0.29199042,  0.99566715,  0.08294286, -0.63888697, -1.00720379],
       [ 0.74229487,  0.62705138, -0.66314434, -0.43401239, -0.40788487,
        -0.01018262, -0.4844906 , -0.59846333,  0.82738288,  0.85666918],
       [-1.0327403 , -0.31336836,  0.12809164,  0.7376787 , -0.47272593,
         1.36369989, -1.08723502, -0.10802984,  0.75295915, -1.8326958 ],
       [-0.38075485, -0.34257571,  1.35724399, -1.4756982 ,  0.67283137,
         0.50956161, -0.29153244, -0.35207291, -1.24418916,  0.56741488]])

## loops

In [28]:
for i in range(4):
    print(i)

0
1
2
3

In [32]:
for i in range(5,8):
    print(i)

5
6
7

In [34]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [37]:
L  = [1,2,3,4,5]
for i in L:
    print(i)

1
2
3
4
5

In [38]:
L  = [1,2,3,4,5]
for idx,elem in enumerate(L):
    print(f"index {idx} has value {elem}")

index 0 has value 1
index 1 has value 2
index 2 has value 3
index 3 has value 4
index 4 has value 5

## List comprehensions and a touch of functional programming

In [6]:
L = [1,2,3,5]

L2 = []
for i in L:
    L2.append( i**2 )
L2

[1, 4, 9, 25]

In [11]:

def fun2(x):
    if x  <3 :
        return x**2
    else:
        return x**3 
    
L3 = [ fun2(i) for i in L]
L3

[1, 4, 27, 125]

In [8]:
def fun(x):
    if x == 1:
        return 1
    else:
        return 10

L4 = map( fun, L)
L4 = list( L4 )
L4

[1, 10, 10, 10]

## numpy 

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays

In [2]:
import numpy as np

### vector operations

In [6]:
x = np.ones( 10)
y = np.ones( 10)

(array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]))

In [10]:
x.dot(y)

10.0

### functions


Functions in python are defined with the `def` keyword

In [17]:
def some_func():
    print("test")
    
def square(arg1):
    return arg1*arg1


def some_function( arg1=2, arg2=1):
    
    return arg1+arg2
    
square(2)

4

### recursion

In [13]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)

In [14]:
factorial(5)

120

# Classes

In [16]:
class SomeObject:
    
    def __init__(self):
        """
        this is the constructor
        """
        self.test = 0 
        
    def method(self):
        print( self.test )
        
    def increase(self):
        self.test+=1

In [17]:
obj = SomeObject()
print(type(obj))

<class '__main__.SomeObject'>

In [18]:
obj.method() 
obj.increase()
obj.method()

0
1

In [33]:
class AnotherObject:
    
    def __init__(self, param1, param2=5):
        """
        this is the constructor
        """
        self.param1 = param1
        self.param2 = param2 
    def method(self):
        print( self.param1, self.param2 )
        
    
    #def __repr__(self):
    #    return f"I am an object of type {type(self).__name__} and I have params param1={self.param1} and param2={self.param2}"

In [34]:
obj2 = AnotherObject(3)
print(obj2)

<__main__.AnotherObject object at 0x1092b5190>